<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 m-b-sm">
                <h4>Typography controls samples</h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-24">
            <h1>Lorem ipsum dolor sit amet</h1>
            <div class="type-sh1">Quisque sodales orci in libero</div>
            <p class="type-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac sapien molestie, bibendum mi lacinia, blandit dolor. Suspendisse vel tortor ligula. Vestibulum ut varius mauris, vehicula efficitur lectus. Fusce vitae lacinia lectus, ac viverra ligula. Suspendisse eget nisi fermentum, tristique mi sed, fringilla arcu. Duis a lectus sed ligula sollicitudin auctor ac in tortor. Nam ut mauris tempus, tristique ante ac, rhoncus mauris.</p>
            <p class="type-p1">Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ac dolor et orci dictum consectetur. Aliquam dictum mattis dui. Vivamus vitae nibh ut ex lobortis venenatis. Maecenas quam enim, consequat id posuere id, ornare in lectus. Phasellus euismod a odio ut facilisis. Maecenas posuere vel purus in sagittis. Maecenas sit amet ipsum vel dolor lobortis molestie. Sed condimentum urna quis ultrices commodo. Sed elit purus, tempus vitae nisl eget, blandit accumsan odio. Nulla imperdiet risus a enim euismod, nec pharetra urna sodales. Phasellus lobortis lacus sed nisl tempus, in efficitur quam hendrerit. Suspendisse gravida commodo rutrum. </p>
        </div>
        <div class="col-sm-24">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-24">
            <h2>Lorem ipsum dolor sit amet</h2>
            <div class="type-sh2">Quisque sodales orci in libero</div>
            <p class="type-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac sapien molestie, bibendum mi lacinia, blandit dolor. Suspendisse vel tortor ligula. Vestibulum ut varius mauris, vehicula efficitur lectus. Fusce vitae lacinia lectus, ac viverra ligula. Suspendisse eget nisi fermentum, tristique mi sed, fringilla arcu. Duis a lectus sed ligula sollicitudin auctor ac in tortor. Nam ut mauris tempus, tristique ante ac, rhoncus mauris.</p>
            <p class="type-p2">Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ac dolor et orci dictum consectetur. Aliquam dictum mattis dui. Vivamus vitae nibh ut ex lobortis venenatis. Maecenas quam enim, consequat id posuere id, ornare in lectus. Phasellus euismod a odio ut facilisis. Maecenas posuere vel purus in sagittis. Maecenas sit amet ipsum vel dolor lobortis molestie. Sed condimentum urna quis ultrices commodo. Sed elit purus, tempus vitae nisl eget, blandit accumsan odio. Nulla imperdiet risus a enim euismod, nec pharetra urna sodales. Phasellus lobortis lacus sed nisl tempus, in efficitur quam hendrerit. Suspendisse gravida commodo rutrum. </p>
        </div>
        <div class="col-sm-24">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-24">
            <h3>Lorem ipsum dolor sit amet</h3>
            <div class="type-sh3">Quisque sodales orci in libero</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac sapien molestie, bibendum mi lacinia, blandit dolor. Suspendisse vel tortor ligula. Vestibulum ut varius mauris, vehicula efficitur lectus. Fusce vitae lacinia lectus, ac viverra ligula. Suspendisse eget nisi fermentum, tristique mi sed, fringilla arcu. Duis a lectus sed ligula sollicitudin auctor ac in tortor. Nam ut mauris tempus, tristique ante ac, rhoncus mauris.</p>
            <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ac dolor et orci dictum consectetur. Aliquam dictum mattis dui. Vivamus vitae nibh ut ex lobortis venenatis. Maecenas quam enim, consequat id posuere id, ornare in lectus. Phasellus euismod a odio ut facilisis. Maecenas posuere vel purus in sagittis. Maecenas sit amet ipsum vel dolor lobortis molestie. Sed condimentum urna quis ultrices commodo. Sed elit purus, tempus vitae nisl eget, blandit accumsan odio. Nulla imperdiet risus a enim euismod, nec pharetra urna sodales. Phasellus lobortis lacus sed nisl tempus, in efficitur quam hendrerit. Suspendisse gravida commodo rutrum. </p>
        </div>
        <div class="col-sm-24">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-24">
            <h4>Lorem ipsum dolor sit amet</h4>
            <div class="type-sh4">Quisque sodales orci in libero</div>
            <p class="type-p4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac sapien molestie, bibendum mi lacinia, blandit dolor. Suspendisse vel tortor ligula. Vestibulum ut varius mauris, vehicula efficitur lectus. Fusce vitae lacinia lectus, ac viverra ligula. Suspendisse eget nisi fermentum, tristique mi sed, fringilla arcu. Duis a lectus sed ligula sollicitudin auctor ac in tortor. Nam ut mauris tempus, tristique ante ac, rhoncus mauris.</p>
            <p class="type-p4">Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ac dolor et orci dictum consectetur. Aliquam dictum mattis dui. Vivamus vitae nibh ut ex lobortis venenatis. Maecenas quam enim, consequat id posuere id, ornare in lectus. Phasellus euismod a odio ut facilisis. Maecenas posuere vel purus in sagittis. Maecenas sit amet ipsum vel dolor lobortis molestie. Sed condimentum urna quis ultrices commodo. Sed elit purus, tempus vitae nisl eget, blandit accumsan odio. Nulla imperdiet risus a enim euismod, nec pharetra urna sodales. Phasellus lobortis lacus sed nisl tempus, in efficitur quam hendrerit. Suspendisse gravida commodo rutrum. </p>
        </div>
        <div class="col-sm-24">
            <hr />
        </div>
    </div>
</div>
